.aboutPage{
  background: black;
}
#home{
  background:black;

}
.wrapper {
  display: inline-block;
  /* border: 2px solid black; */
  width: 100vw;
  height: 100vh;
}
.name{
    display: flex;
    justify-content: center;
    font-family: 'Neonderthaw', cursive;
    color:#99005D ;
    font-size: 150px;
    text-shadow:#417571 5px 5px 7px;
    /* border: 2px solid black; */
}

.greeting {
    /* border: 2px solid black; */
  color: black;
  text-shadow:  #FF70C5 2px -1px 2px;
  font-size: 55px;
  /* overflow: hidden;  */
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; 
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 13px; /* Adjust as needed */
  animation: typing 4.5s steps(35, end);
  text-align: center;
  font-family: 'Fredoka One', cursive;
  padding-top: 50px;
  max-width: 1200px;
  text-align: center;
}
/* the typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.quote{
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    color: #80B5B0;
    text-shadow: 1px 1px 1px black;
    /* 2px 2px 5px #24325a ; */
}

@media all and (max-width: 600px){
  .name{
    font-size: 100px;
  }
  .greeting{
    white-space:unset;
  }
}
