.page#portfolio { 
 /* display: grid;  */
 height: 1000px; 
}
.Port {
  display: flex;
  flex-direction: row;
  font-family: "Peralta", cursive;
  text-shadow: #FF70C5  1px 0px 1px;
  color: black;
  
}

.Port:before,
.Port:after {
  content: " ";
  flex: 1 1;
  border-bottom: 1.5px solid;
  margin: auto;
  color: black;
}

.Port:before {
  margin-right: 5px;
}
.Port:after {
  margin-left: 5px;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 100px;
  padding: 10px;
  margin: auto;
  /* border: 1px solid pink; */
  justify-content: space-evenly;
  
}
.appTitle {
  height: 100px;
  /* border: 1px solid pink; */
  display: flex;
  justify-content: center;
  color: black;
  text-shadow: #99005D 1px 1px 2px ;
  
}

.apps {
  border-radius: 20%;
  animation: heartbeat 3s ease-in 2s infinite normal none;
}

@keyframes heartbeat {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.apps:hover {
  animation: bounce .5s ease 1s infinite normal none;
  /* animation: bounce 0.5s; */
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, .8, 0.5);
  animation-iteration-count: infinite;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100px, 0);
  } 

}
.apps {
  /* animation: roll-in-top 0.8s ease-out; */
  box-shadow: 0px 15px 0px -10px black, 0px -15px 0px -10px black, 15px 0px 0px -10px black, -15px 0px 0px -10px black, 0px 0px 0px 10px #80B5B0, 5px 5px 15px 5px rgba(0,0,0,0);
 border: 1px solid #80B5B0;
}

.appBottom{
  border-radius: 20%;
  animation: heartbeat 3s ease-in 2s infinite normal none;
}

@keyframes heartbeat {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
.appBottom:hover{
  animation: bounceDown 0.5s ease 1s infinite normal none;
  /* animation: bounce 0.5s; */
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 0.8, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounceDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100px, 0);
  }
}
.appBottom {
 
  box-shadow: 0px 15px 0px -10px black, 0px -15px 0px -10px black, 15px 0px 0px -10px black, -15px 0px 0px -10px black, 0px 0px 0px 10px #80B5B0, 5px 5px 15px 5px rgba(0,0,0,0);
 border: 1px solid #80B5B0;
}

.calcLink{
  text-decoration: none;
}
.pacman{
  text-decoration: none;
}
.notNetflix {
  text-decoration: none;
}
.moodApp{
  text-decoration: none;
}