.Port {
    display: flex;
    flex-direction: row;
    font-family: "Special Elite";
    /* text-shadow: 2px 2px 2px #32cd32; */
    color: silver;
    
  }
  
  .Port:before,
  .Port:after {
    content: " ";
    flex: 1 1;
    border-bottom: 1.5px solid;
    margin: auto;
    color: #32cd32
    ;
  }
  
  .Port:before {
    margin-right: 5px;
  }
  .Port:after {
    margin-left: 5px;
  }

  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
    padding-top: 35px;
    
  }

  .calc {
    /* background: black; */
    border:2px solid silver;
    border-radius: 10px;
    padding: 7px;
    width: 200px;
  }

  .pacman{
    /* background: black; */
    border:2px solid silver;
    border-radius: 10px;
    padding: 7px;
    width: 200px;
  }