.aboutPage{
  background:#417571;
}
.aboutMe {
  display: flex;
  flex-direction: row;
  font-family: 'Peralta', cursive;
  
}

.aboutMe:before,
.aboutMe:after {
  content: " ";
  flex: 1 1;
  border-bottom: 1.5px solid;
  margin: auto;
  color: black;
}

.aboutMe:before {
  margin-right: 5px;
}
.aboutMe:after {
  margin-left: 5px;
}

.intro {
  color: black;
  font-size:x-large;
  padding-top: 50px;
  max-width: 900px;
  margin: auto;
  padding-top: 40px;
  text-shadow: 1px 1px 1px  #417571;
  text-align: justify;
 
}

/* #self {
  display: flex;
  margin: 0 auto;
  width: 300px;
  border-radius: 15px;
  transition: all 1s;
  border: 1px solid #99005D;
   
}

#self:hover{
  /* -webkit-box-shadow: 2px -15px 22px 0px #99005D,
  6px 11px 43px 15px #99005D; */
/* box-shadow: 2px -3px 5px 0px #99005D,
  3px 5px 63px 10px #99005D; */
/* }*/

section {
	width: 30%;
	margin: 0 auto;
	line-height: 0;
	position: relative;
}
section img {
	width: 100%;
}
section article {
	position: absolute;
	top: 0;
	width: 100%;
	background: pink;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	mix-blend-mode: lighten;
  
}
section div {
	background: black;
	height: 22.1vw;
}
section div:nth-of-type(2) {
	grid-column: 3 / 6;
}