.aboutPage{
  background:#417571;
}
.aboutMe {
  display: flex;
  flex-direction: row;
  font-family: 'Peralta', cursive;
  text-shadow: #99005D  1px 1px 1px;
}

.aboutMe:before,
.aboutMe:after {
  content: " ";
  flex: 1 1;
  border-bottom: 1.5px solid;
  margin: auto;
  color: black;
}

.aboutMe:before {
  margin-right: 5px;
}
.aboutMe:after {
  margin-left: 5px;
}

.intro {
  color: black;
  font-family: "Zen Old Mincho";
  font-size:xx-large;
  padding-top: 50px;
  max-width: 900px;
  margin: auto;
  padding-top: 40px;
  text-shadow: 1px 1px 1px  #417571;
}

#self {
  display: flex;
  margin: 0 auto;
  width: 300px;
  border-radius: 15px;
  transition: all 1s;
  border: 1px solid #99005D;
}

#self:hover{
  /* -webkit-box-shadow: 2px -15px 22px 0px #99005D,
  6px 11px 43px 15px #99005D; */
box-shadow: 2px -3px 5px 0px #99005D,
  3px 5px 63px 10px #99005D;
}