
.Contact {
    display: flex;
    flex-direction: row;
    font-family: "Peralta", cursive;
    text-shadow: #24325a 1px 1px 1px;
    color: white;
  }
  
  .Contact:before,
  .Contact:after {
    content: " ";
    flex: 1 1;
    border-bottom: 1.5px solid;
    margin: auto;
    color: black
  }
  
  .Contact:before {
    margin-right: 5px;
  }
  .Contact:after {
    margin-left: 5px;
  }
  