.navbar {
  position: fixed;
  z-index: 1030px;
  display: flex;
  justify-content: space-between;
  /* vw is viewport width */
  width: 100vw;
}
@media all and (max-width:600px){
  .navButtons{
    flex-direction: column;
  }
}

.logo {
  height: 100px;
  width: 100px;
  /* float: left; */
  margin: 8px;
  border-radius: 50px;
  
}

.navButtons {
  display: flex;
  padding-top: 30px;
}

.navButtons button {
  font-family: "Peralta", cursive;
  font-size: 20px;
  margin: 1px;
  text-transform: uppercase;
  color: black;
  text-shadow: 0px 0px 1px #99005D,
  -2px -1px 1px #417571;
  border: none;
  background: transparent;
  padding-right: 25px;
  transition: all 1s;
  border-radius: 25px;
}
.navButtons button:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #24325a;
  box-shadow: 5px 5px 15px 5px #24325a;
}

