.navbar {
  position: sticky;
  top: 0;
  color: #73E2A7;
  height: 90px;
  overflow: hidden;

}

.logo {
  height: 60px;
  width: 100px;
  float: left;
  margin: 8px;
  display: flex;
  justify-content: center;
  padding-left: 35px;
}

.navButtons {
  float: right;
  padding-right: 10px;
  
  
}

.navButtons button {
  font-family: "Zen Old Mincho";
  font-size: 20px;
 align-items: center;
  margin: 1px;
  text-transform: uppercase;
  color: purple;
  text-shadow:#1C7C54 0px 0px 1px;
  padding: -10px;
  border-radius: 10px;
  background: #1C7C54;
  background: -moz-linear-gradient(top, #1C7C54 0%, #73E2A7 100%);
  background: -webkit-linear-gradient(top, #1C7C54 0%, #73E2A7 100%);
  background: linear-gradient(to bottom, #1C7C54 10%, #73E2A7 100%);
  
}

/* .navButtons:hover { */
/* color: #DE9151;
  transform:scale(1.2);
  text-shadow: none; */

/* } */

/*.navButtons:after,
.navButtons:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
}

.navButtons:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.navButtons:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navButtons:hover::before,
.navButtons:hover::after {
  width: 100%;
  height: 100%;
  border-color: #DE9151;
}*/
