.container{
  /* border: 1px solid pink; */
  background: #417571;
  letter-spacing: 1px;
}
.App{
  font-size:23px;
  overflow:hidden;
}
.App {
  padding-top: 1px;
  padding-bottom: 10px;
  /* background-image: linear-gradient(to right, #755F3C, #1E3634); */
  background: black;
}

.page {
  margin: 100px ;
  /* height: 1300px; */
  padding-bottom: 200px;
  background: #417571;
}

.page:nth-child(odd) {
  color: black;
  
}

.page:nth-child(even) {
  color: black;
}

.click-container {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  justify-content: space-around;
  width: 500px;
}

.github{
  
  color: #24325a;
}

.codeWars{
  color: #24325a;

}

.linkedIn {
  color: #24325a;

}