.App{
  font-size:23px;
  overflow:auto;
}
.App {
  padding-top: 1px;
  padding-bottom: 10px;
  /* background: #0a0908;
  background: -moz-linear-gradient(
    -45deg,
    #0a0908 0%,
    #161e22 50%,
    #22333b 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0a0908 0%,
    #161e22 50%,
    #22333b 100%
  );
  background: linear-gradient(135deg, #0a0908 0%, #161e22 50%, #22333b 100%); */
  background-image: linear-gradient(to right, #755F3C, #1E3634);
}

.page {
  margin: 100px 20px;
  min-height: 800px;
}

.page:nth-child(odd) {
  color: white;
}

.page:nth-child(even) {
  color: white;
}

.click-container {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  justify-content: space-around;
  width: 500px;
}

.icons{
  padding-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  /* padding-right: 15px; */
  font-size: 35px;

}

.github{
  
  /* display: flex; */
  /* justify-content: flex-end ; */
  padding-right: 13px;
  color: #24325a;
}

.codeWars{
  color: #24325a;

}

.linkedIn {
  color: #24325a;

}